body {
  font-family: sans-serif;
  background-color: lightblue;
  margin: 95px 0 0 0;
  padding: 0;
}

a {
  text-decoration: none;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  background-color: #ff0f83;
  height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.55);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navbar li {
  color: rgb(255, 248, 238);
  text-shadow: .5px .5px black;
  display: block;
  float: left;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  height: 75px;
  line-height: 75px;
}

.navbar-brand {
  font-family: 'Luckiest Guy';
  font-size: 2em;
  text-shadow: 2px 2px black;
  color: orange;
  margin: 0;
  float: left;
}

.navbar-brand:hover {
  color: rgb(104, 197, 228);
}

.navbar-links a {
  float: left;
  color: orange;
  margin: 0 5px;
  height: 75px;
}

.navbar-cart {
  float: right;
  margin-top: 20px;
  height: 30px;
}

.navbar-links a:hover {
  background-color: #c60057;
  outline: none;
  cursor: pointer;
}

.products {
  text-align: center;
}

.products-search {
  display: flex;
  justify-content: center;
}

.products-search-filter {
  margin: 10px;
}

.products-search-select {
  margin: 10px;
}

.products-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1.35px solid black;
  width: 170px;
  height: 170px;
  margin: 10px;
  text-align: center;
  background-color: rgb(255, 248, 238);
  box-shadow: 2px 3px 14px -4px rgba(0,0,0,0.75);
  border-radius: 8px;
}

.product-card h4 {
  color: black;
  margin: 3px 0;
}

.product-card-image {
  height: 100px;
  width: 140px;
  object-fit: contain;
}
